$color-black: #000000;
$color-dark: #222222;
$color-dark-gray: #333333;
$color-gray: #555555;
$color-light-gray: #777777;
$color-light: #999999;
$color-white: #ffffff;
$color-red: #e70027;
$color-red-hover: #970019;
$color-red-active: #ff002b;
$color-blue: #005de9;
$color-blue-hover: #003e9b;
$color-blue-active: #0070ff;
$color-green: #00b300;
$color-green-hover: #008000;
$color-green-active: #00ff00;
$color-yellow: #ffcc00;
$color-yellow-hover: #e6b800;
$color-yellow-active: #ffff00;
$color-orange: #ff6600;
$color-orange-hover: #e65c00;
$color-orange-active: #ff6a00;
$color-purple: #9900cc;
$color-purple-hover: #800080;
$color-purple-active: #b200ff;
$color-pink: #ff00cc;
$color-pink-hover: #e600b2;
$color-pink-active: #ff00ff;
$color-brown: #996633;
$color-brown-hover: #804d00;
$color-brown-active: #b26b00;
$color-cyan: #00cccc;
$color-cyan-hover: #008080;
$color-cyan-active: #00ffff;
$color-teal: #009999;
$color-teal-hover: #006666;
$color-teal-active: #00b2b2;